.interaction-add{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.interaction-add button{
    padding: 8px;
    width: 90px;
    background-color: blue;
    border-radius: 8px;
    border: 4px;
    color: white;
    font-size: large;
}
.q-a-n{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 2px black;
    padding: 10px;
    border-radius: 4px;
}
.q-a-n div{
    display: flex;
    gap: 10px;
}
.interaction .polls-display{
    border: 1px black solid;
    padding: 10px;
    border-radius: 7px;
}
.interaction 
.polls-display 
.name{
display: flex;
justify-content: space-between;
padding-right: 9px;
padding-left: 9px;
}
.interaction .q-a-options{
position: absolute;
right: 10px;
padding: 10px;
background-color: white;
box-shadow: 0 0 3px black;
border-radius: 4px;
margin-top: 10px;
width: fit-content;
z-index: 10;
display: flex;
flex-direction: column;
}
.interaction .q-a-options button{
  background-color: white;
  border: none;
  text-align: start;
  padding: 5px;
  display: flex;
  align-items: center;
  gap:4px;
}