.create-poll{
    height: 250px;
    padding: 10px;
    box-shadow: 0 0 2px black;
    margin-right: -10px;
    margin-left: -10px;
    text-align: center;
}

.date{
width: 70%;
 margin-bottom: 15px;
 padding: 5px;
 border-radius: 6px;
 outline: none;
 border: 1px solid gray;
}
.create-poll-form{
    background-color: rgb(8, 8, 143);
    color: white;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    z-index: 1000;
}
.create-poll-form label{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.create-poll-form .name{
    padding: 10px;
    border-radius: 8px;
}
.create-poll-form .note{
    background-color: rgba(255, 255, 255, 0.541);
    color: white;
    padding: 6px;
    border-radius: 9px;
    text-align: center;
    border: 2px solid blue;
    display: flex;
}
.create-poll-form .cancel-create-btn{
 display: flex;
 justify-content: end;
 gap: 20px;
}
.create-poll-form .cancel-create-btn :first-child{
    color: white;
    background-color:rgb(8, 8, 143) ;
    border: none;
    font-size: larger;
}
.create-poll-form .cancel-create-btn :last-child{
    color: white;
    padding: 10px;
    border-radius: 7px;
    background-color: burlywood;
    font-size: large;
}