.user-header{
    padding: 15px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    box-shadow: 0 0 4px black;
    background-color: white;
}

.user-header button{
    border: none;
    background-color: white;
     position: absolute;
}
.user-header h2{
    text-align: center;
}

