.interaction{
    overflow: scroll;
}
.interaction-add{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.interaction-add button{
    padding: 8px;
    width: 90px;
    background-color: blue;
    border-radius: 8px;
    border: 4px;
    color: white;
    font-size: large;
}
.q-a-n{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 2px black;
    padding: 10px;
    border-radius: 4px;
}
.q-a-n div{
    display: flex;
    gap: 10px;
}
.interaction .polls-display{
    border: 1px black solid;
    padding: 10px;
    border-radius: 7px;
}
.interaction 
.polls-display 
.name{
display: flex;
justify-content: space-between;
padding-right: 9px;
padding-left: 9px;
}
.polls-display .votes{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.polls-display .votes > :first-child{
   display: flex;
   align-items: center;
   gap: 10px;
   color:blue;
}
.polls-display .votes > :last-child{
     display: flex;
     align-items: center;
     gap: 10px;
}
.polls-display .votes > :last-child button{
   background-color: blue;
   padding: 10px;
   border-radius: 50%;
   border: none;
   color: white;
}
.interaction .q-a-options{
position: absolute;
right: 10px;
padding: 10px;
background-color: white;
box-shadow: 0 0 3px black;
border-radius: 4px;
margin-top: 10px;
width: fit-content;
z-index: 10;
display: flex;
flex-direction: column;
}
.interaction .q-a-options button{
  background-color: white;
  border: none;
  text-align: start;
  padding: 5px;
  display: flex;
  align-items: center;
  gap:4px;
}

.interaction-choice{
    position: fixed;
    background-color: rgb(47, 104, 47);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    scrollbar-width: none;
}
.interaction-choice .div,
.interaction-choice .div button {
color: white;
padding: 10px;
}

 .interaction-choice .note{
  margin-top: 10px;
} 
.interaction-choice .note .back-arrow{
    position:absolute;
}
.interaction-choice .note p{
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.interaction-choices{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 15px;
}
.interaction-choice .interaction-choices button{
   padding: 10px;
   border: white solid 2px;
   border-radius: 10px;
   text-align: center;
   background-color: rgba(88, 190, 88, 0.473);
   box-shadow: 0 0 4px white;
}
.selectInteraction{
    position: relative;
    height: 100%;
}
.selectInteraction .name-delete{
    display: flex;
    justify-content: space-between;
    color: white;
}
.selectInteraction .question-input{
    padding: 15px;
    border-radius: 6px;
    width: 100%;
    outline: solid rgb(151, 151, 197);
}
.selectInteraction .no-poll{
    color: white;
    text-align: center;
    font-size: 20px;
}
.selectInteraction .no-poll button{
    padding: 10px;
    border-radius: 5px;
    color: rgb(47, 104, 47);
    font-weight: 10px;
    border: none;
}
.selectInteraction .launch{
 display: flex;
 justify-content: center;
 color: black;
 font-weight: bold;
}
.selectInteraction .launch div{
    padding: 5px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.selectInteraction .launch div button{
    border-radius: inherit;
    border: none;
    padding: 5px;
}


.add-interaction{
    position: fixed;
    background-color: rgb(48, 21, 5);
    color: white;
    top: 120px;
    bottom: 0px;
    left: -10px;
    right: -10px;
    padding: 20px;
    overflow: auto;
}

.add-interaction .back{
    color: white;
    background-color:rgb(47, 104, 47); 
    display: flex;
    border:none;
    align-items: center;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    border-radius: 5px;
}
.add-interaction .intro{
    display: flex;
    justify-content: space-between;
}
.add-interaction .intro div:last-child{
display: flex;
gap: 20px;
}
.add-interaction .input-note input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}
.add-interaction .deleteOption{
    display: none;
}
.add-interaction .input-note input:focus{
outline: white solid 2px;
border-radius: 7px;
}
.add-interaction .input-note p{
padding: 10px;
background-color: beige;
border-radius: 7px;
color:rgb(48, 21, 5);
}
.add-interaction .option {
      padding: 10px;
}
.add-interaction span{
    text-align: end;
}
.add-interaction .option:hover
 {
border: rgb(47, 104, 47) 2px solid;
border-radius: 10px;
}

.add-interaction .option div{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: inherit;
}

.add-interaction .option div input{
  padding: 10px;
  flex-grow: 1;
  border-radius: 5px;
  border: none;
}
.add-interaction .option div input:focus{
    outline: none;
}
.add-interaction .option .percent div{
    background-color: rgba(245, 245, 245, 0.452);
    width: 100%;
    height: 9px;
}
.add-interaction .option .percent{
   margin-top: 10px;
}

.add-interaction .more-options{
    color: white;
    background-color: rgb(211, 144, 105);
    border: none;
}
.add-interaction .launch-note{
    text-align: center;
}